@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  min-height: 100vh;
  background-color: #171717;
  /* Force dark background */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Prevent accidental horizontal scroll */
}